<br>
<form (submit)="submitForm($event)">
	<custom-input [label]="'signup__form_username'" #username="ngModel" [(ngModel)]="model.userName" name="username" [validator]="validator.isUserNameValid(username)">
	</custom-input>
	<custom-input [label]="'signup__form_email'" #email="ngModel" [(ngModel)]="model.email" name="email" [validator]="validator.isEmailValid(email)">
	</custom-input>
	<custom-input [label]="'signup__form_password'" #password="ngModel" [type]="'password'" [(ngModel)]="model.password" name="password"
	 [validator]="validator.isPasswordValid(password)">
	</custom-input>
	<custom-input [label]="'signup__form_confirm_password'" #confirmPassword="ngModel" [type]="'password'" [(ngModel)]="model.confirmPassword"
	 name="confirmPassword" [validator]="validator.isConfirmPasswordValid(confirmPassword)">
	</custom-input>
	<div class="input-group">
		<button type="submit">{{ 'signup__form_save_button' | localize }}</button>
	</div>
</form>